/* Replace logo with new image */
img[src="https://aadcdn.msauth.net/shared/1.0/content/images/microsoft_logo_564db913a7fa0ca42727161c6d031bef.svg"] {
    content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy17cXUpJDhhH8lUKq2AQVIINHzD2tqedPZw&s');
}

/* Change "Create one!" and "Can’t access your account?" text color to green */
a[href*="signup"], a[href*="cant-access-account"] {
    color: green !important;
}

/* Style the "Next" button */
button, input[type="submit"] {
    border-color: green !important;
    background-color: green !important;
    color: white !important;
}
